<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>게시물 리스트 페이지</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
    }

    a {
      text-decoration: none;
      color: #222;
    }

    a:hover{
      text-decoration: none;
      color: #222;
      font-weight: bold;
    }
    .fieldError {
      border-color: #bd2130;
    }

</style>
<script type="text/javascript">


</script>
<body>



  <div class="layout">
    <form role="form" action="/board/admin/usereditPro" method="post" th:object="${userDto}">
      <table class="table">
        <tbody>
        <tr>
          <td>아이디</td>
          <td>
            <input name="userid" readonly type="text" th:field="*{userid}" class="form-control">
          </td>

        </tr>


        <tr>
          <td>비밀번호</td>

          <td>
            <input id="password" name="password" th:field="*{password}" type="password"  placeholder="비밀번호를 입력하세요."
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
          </td>

        </tr>
        <tr>
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
        </tr>

        <tr>
          <td>닉네임</td>
          <td>
            <input name="nickname"  type="text"  placeholder="닉네임을 입력하세요."  th:value="*{nickname}"
                   th:class="${#fields.hasErrors('nickname')}? 'form-control fieldError' : 'form-control'">
          </td>
        </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-info">변경</button>


    </form>
    <form action="/board/admin/userdeletePro" method="post">
      <input name="id" type="hidden" th:value="${userDto.id}">
      <button type="submit" class="btn btn-danger">삭제</button>
    </form>

  </div>

</body>
</html>