<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 상세페이지</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
    }

    form {
        margin:0;
    }
    td.writer{
    width:80px;
    }


</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">

    function resize(obj) {
        obj.style.height = '1px';
        obj.style.height = (12 + obj.scrollHeight) + 'px';
    }

    function addComment(){
        var queryString = $("form[name=commentFrm]").serialize();


        $.ajax({
            url : '/board/addCommentpro',
            data : queryString,
            dataType: "json",
            method : "post",
            success : function(result){
                if(result==1){
                    swal('댓글을 작성했습니다.', "버튼을 누르면 페이지를 새로고침합니다.", 'success')
	            		.then((value) => {
	            			location.reload();
	            		});
                }
            },
            error : function(request, status, error) {
			alert("code: " + request.status + "\n" + "message: "
					+ request.responseText + "\n" + "error: " + error);
		    }



        })

    }

    function addRcommentFrm(commentid, level){

        if(level == 0 ){
            if($("form#RcommentFrm"+commentid).length){
                        $("div#Rcomment"+commentid).empty();
                    }
                    else{
                        let html = "<form id='RcommentFrm" +  commentid+"'>";
                        html+="<textarea name='text' placeholder='답댓글을 입력하세요'style='width: 90%; vertical-align: middle; margin-left: 10px' onkeydown='resize(this)' onkeyup='resize(this)'></textarea>";
                        html+="<input type='hidden' name='targetid' value='"+commentid+"'/>";
                        html+="<button type='button'  class='btn-secondary listView rounded' onclick='addRcomment("+commentid+")'>등록</button>";
                        html += "</form>";
                        $("div#Rcomment"+commentid).append(html);
                    }
        }




    }

    function addRcomment(parentid){
        var queryString = $("form#RcommentFrm"+parentid).serialize();

        $.ajax({
            url : '/board/addRcommentpro',
            data : queryString,
            dataType: "json",
            method : "post",
            success : function(result){
                if(result==1){
                    swal('답댓글을 작성했습니다.', "버튼을 누르면 페이지를 새로고침합니다.", 'success')
	            		.then((value) => {
	            			location.reload();
	            		});
                }
            },
            error : function(request, status, error) {
			alert("code: " + request.status + "\n" + "message: "
					+ request.responseText + "\n" + "error: " + error);
		    }



        })

    }
</script>
<body>
    <div class="layout">
        <h1 th:text="${board.title}">제목입니다</h1>
        <div th:each="file:${fileList}">
            <span th:text="${file.orgfilename}">1</span>
        </div>
        <p th:text="${board.content}">내용</p>
        <a th:href="@{/board/delete(id=${board.id})}">글삭제</a>
        <a th:href="@{/board/edit(id=${board.id})}">글수정</a>


        <div  th:each="comment : ${commentList}" th:classappend="${comment.level == 1} ? 'ms-3'">
            <table class="table" th:onclick="addRcommentFrm([[${comment.id}]],[[${comment.level}]])">
                <tr  th:id="'comment'+${comment.id}">
                    <td style="width:70px;" th:if="${comment.level == 1}"><i class="far fa-arrow-right"></i><i class="fas fa-arrow-right"></i></td>
                    <td style="width:70px;" th:text="${comment.userid}"> </td>
                    <td th:text="${comment.text}"> </td>
                </tr>
            </table>
            <div th:id="'Rcomment'+${comment.id}"></div>



        </div>

        <div id="">

        </div>

        <!-- 댓글 작성폼 -->
        <form name="commentFrm">
            <input type="hidden" name="boardid" th:value="${board.id}"/>


            <textarea name="text" placeholder="댓글을 입력하세요" style="width: 90%; vertical-align: middle; margin-left: 10px" onkeydown="resize(this)" onkeyup="resize(this)"></textarea>
            <button type="button"  class="btn-secondary listView rounded" onclick="addComment()">등록</button>
        </form>
    </div>



</body>
</html>