<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Main 로그인</title>
</head>
<style>
    .layout {
        width : 500px;
        margin : 0 auto;
    }

    a {
      text-decoration: none;
      color: #222;
    }

    a:hover{
      text-decoration: none;
      color: #222;
      font-weight: bold;
    }

</style>
<script type="text/javascript">


</script>
<body>

  <div class="layout">
    <form role="form" action="/board/loginpro" method="post" th:object="${userDto}">
      <table class="table">

        <tbody>
        <tr>
          <td>아이디</td>
          <td><input type="text"  th:field="*{userid}" name="userid"></td>
        </tr>
        <tr>
          <td>비밀번호</td>
          <td><input type="text" name="password"></td>
        </tr>
        </tbody>
        <p th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}">Incorrect date</p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>

      </table>
      <input type="submit">
    </form>

  </div>

</body>
</html>